.App {
height: 100vh;
}
body .drawer-open{
  background-color: #999999;
}
.drawer-open .btn_savesegment{
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  background-color: lightgray;
}
.btn_savesegment_container{
  padding: 10rem 0 0 10rem;
}
.btn_savesegment{
  width: 8rem;
  height: 2rem;
  background-color: #FFFFFF;
}